.card {
  /* Add shadows to create the "card" effect */
  /* position:relative;

  /* transition: 0.3s; */
  /* height:300px;
  width: 800px; */
 flex: 1 0 20%;
 position: relative;
 margin: .5em;
 padding: 2em;
 min-height: 4em;
 background: white;
 border: 3px solid white;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

.active {
  flex: 1 0 20%;
  position: relative;
  margin: .5em;
  padding: 2em;
  min-height: 4em;
  background: white;
box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
border: 3px solid grey;
}

.inactive {
  flex: 1 0 20%;
  position: relative;
  margin: .5em;
  padding: 2em;
  min-height: 4em;
  background: white;
box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
border: 3px solid white;
}
/* Add some padding inside the card container */
/* .container {
  padding: 2px 16px;
} */
