.card {
  /* flex: 1 0 20%; */
  display: grid;
  position: relative;
  margin: .5em;
  padding: 2em;
  min-height: 4em;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 3px solid white;
  overflow: hidden;
  height: 400px;
  opacity: 1;
  align-items: center;
  border-radius: 15px;
}


h3{
  font-size: 40px;
}
p{
  font-size: 20px;
}
.charityimg {
  width: 100%;
  height: 100%;

}
.column {
  display: inline-block;
  width: 20%;
  height:25%;
  overflow-x: scroll;
}
.cardbutton_active {
    width: 200px;
    height: 100px;
    border: 10px solid #fff;
    transition: 0.3s;
    font-size: 30px;
    background-color: #e07b7b;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.cardbutton_inactive {
  width: 200px;
  height: 100px;
  border: 10px solid #fff;
  opacity: 0.6;
  transition: 0.3s;
  font-size: 30px;
  background-color: #20639B;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.cardbutton{
  width: 200px;
  height: 100px;
  border: 10px solid #fff;
  opacity: 0.6;
  transition: 0.3s;
  font-size: 30px;
  background-color: #20639B;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  border-radius: 20px;
}
