.card {
  /* flex: 1 0 20%; */
  /* position: relative; */
  margin: .5em;
  padding: 2em;
  min-height: 4em;
  background: white;
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
  border: 3px solid white;
  height:500px;

 /* width: 50%; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

img {
  width: 50%;
  height: auto;
  padding: 10px;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  height: 100%;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}


.active {
  /* flex: 1 0 40%;
  position: relative;
  margin: .5em;
  padding: 2em;
  min-height: 4em;
  background: white;
 box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
 border: 3px solid white;
 height: 100%; */
 margin: .5em;
 padding: 2em;
 min-height: 4em;
 background: white;
 box-shadow: 0 40px 40px 0 rgba(1,1,1,0.2);
 border: 3px solid gray;
 height:500px;
}

.inactive {
  /* flex: 1 0 20%;
  position: relative;
  margin: .5em;
  padding: 2em;
  min-height: 4em;
  background: white;
 box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
 border: 3px solid white;
 height: 100%; */
 margin: .5em;
 padding: 2em;
 min-height: 4em;
 background: white;
 box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
 border: 3px solid white;
 height:500px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* Add some padding inside the card container */
/* .container {
  padding: 2px 16px;
} */
