body{
    font-family: 'Noto Sans HK', sans-serif;
    background-color: rgb(253 254 255);
    /* height: 100%;
    font-weight:300; */
    text-align: justify;
    text-justify: inter-word;
    /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
}
h1{
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight:140;
  height: 60px;
  color: #20639B;
  text-align: center;
}

h2{
  margin: 0.5em;
  height: 30px;
  color: #20639B;
  font-weight:140;
}

p{
  font-weight:600;
  margin-left: 2em;
  margin-right: 5em;
  margin-bottom: 2em;
  font-family: 'Noto Sans HK',sans-serif;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 1px;
}
