body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(253 254 255);
    font-weight:300;
    overflow-x: hidden;
    /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
}
h1{
  margin-top: 0.5em;
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  height: 40%;
  color: #20639B;
  text-align: center;
}


#tutorial{

 /* display: block; */
 /* margin-left: auto;
 margin-right: auto; */
 /* width: 100%; */
}

img{
   max-width: 100%;
  /* width: auto;
  height: auto; */
}

#webdesc{
  margin-top: 1%;
  font-weight: 300;
  margin-left: 10%;
  margin-right: 10%;
}
p{
  margin-left: 20%;

}
h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  /* margin: auto; */
  font-weight: 300;
  color: rgb(90 108 136);
  /* transition: 0.2s; */
}

/* If the screen size is 601px wide or more, set the font-size of <div> o 80px */
@media screen and (min-width: 601px) {
  #portfolio,#webdesc {
    font-size: 40px;
  }

}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  #portfolio,#webdesc  {
    font-size: 20px;
  }
}
#portfolio {
    padding: 20px 20px;
    /* transition: 0.3s; */
    background: rgb(90 108 136);
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    border-radius: 10px;
}

#portfolio:hover{
  background: rgb(90 108 136 0.4);
}
