body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    height: 100%;
    font-weight: normal;
    /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
}
h1{
  font-size: 40px;
  background-color: #ecf3f7;
  height: 100px;
  margin: auto;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}
h2{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  font-weight: lighter;
  padding-top: 3%;
  color: #20639B;
  text-shadow: 1px 0px #000080;
  /* box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); */
  transition: 0.2s;


}

h3{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  padding-top: 3%;
  font-weight:normal;
  /* box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); */
  transition: 0.2s;

}
div{
    display: inline-block;
    text-align: left;
    /* box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); */
}

.container{
  display:block;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  /* overflow: scroll; */
  height:700px;
  width: 2800px;

}
.container-vertical{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  height: 900px;
  width: 2800px;

}
#cards{
  /* display:block; */
  /* padding: 1%; */
  width: 58%;
  transition: 0.5s;
  height:100%;
  overflow:scroll;

}
#impactcard{
  float: right;
  transition: 0.1s;
  position: absolute;
  transform: translateX(50%);
}
#improw{
  padding: 1%;
  text-align:center;

}
#matrix{
  padding: 1%;
  width: 40%;
  transition: 0.5s;
  height:100%;

}
#wordcloud {
  /* padding: 0.5%; */
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 30%;
  height:100%;
  }
#polygon{
  /* margin-right: 1%; */
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.5s;
  width: 40%;
  height:100%;
}
#impactdiag {
  /* padding: 1%; */
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
  display:inline-block;
  float: right;
  transition: 0.3s;
  padding-left: 1%;
  width: 20%;
  height:100%;
  }

input[type=number]{
  padding: 12px 20px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  /* display: inline-block; */
  border: 10px solid #fff;
  border-bottom: 10px solid #ccc;
  border-radius: 10px;
  /* box-sizing: border-box; */
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
  font-size: 30px;
  float: right;
}

.circle2{
  stroke:white;
  stroke-width: 10;
  fill: #dacece;
  r:20;
  transition: 0.1s;
}

.centroid{
  stroke:white;
  stroke-width: 10;
  fill: #e07b7b;
  r:40;
  /* transition: 0.1s; */
}

.centroid:hover{
  stroke:white;
  stroke-width: 10;
  fill: #e07b7c;
  r:50;
  /* transition: 0.1s; */
}
/* Richa:This is not working */
#myLabel{
  margin: 70px;
  border: 1px solid #4CAF50;
  text-emphasis-color: red;
}

.cell{
  stroke:white;
  stroke-width: 10;
  transition: 0.3s;
  border-radius: 20px;

}

.matrixlabels{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.icons{
  width: 20%;
  height: auto;
  float:left;
  transition: 0.1s;
}
.icons:hover{
  width: 30%;
}

#donatebutton {
    background:url("/data/icons/donate.png") no-repeat;
    cursor:pointer;
    position: absolute;
    transform: translateX(50%);
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    opacity: 0.6;
    transition: 0.3s;
    text-align:bottom;
}


#donatebutton:hover {opacity: 1;}

#MAIN:hover {transition: 0.3s;
font-size:40px;
font-width:40px;}

.wordcloudlab:hover{
  transition: 0.3s;
  font-size:140px;
  font-width:140px;
}

.myLabel:hover{
  transition: 0.3s;
  font-size:50px;
  font-width:140px;
}
