html,body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
}
h1{
  font-size: 40px;
  background-color: #ecf3f7;
  height: 100px;
  margin: auto;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}
h2{
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  /* box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); */
  transition: 0.2s;

}
div{
    display: inline-block;
    /* box-shadow: 0 0 6px 0 rgba(0,0,0,0.2); */
}

.container{
  display:block;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  /* overflow: scroll; */
  height:700px;

}
.container-vertical{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
#cards{
  /* display:block; */
  /* padding: 1%; */
  width: 58%;
  transition: 0.5s;
  height:700px;
  overflow:scroll;


}
#impactcard{
  float: left;
  transition: 0.1s;
}
#improw{
  padding: 1%;
}
#matrix{
  padding: 1%;
  width: 38%;
  transition: 0.5s;
  height:800px;
}
#wordcloud {
  /* padding: 0.5%; */
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 30%;
  height:100%;
  }
#polygon{
  /* padding: 0.5%; */
  margin: auto;
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.5s;
  width: 40%;
  height:100%;
}
#impactdiag {
  /* padding: 1%; */
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  width: 20%;
  height:100%;
  }

input[type=number]{
  padding: 12px 20px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  /* display: inline-block; */
  border: 10px solid #fff;
  border-bottom: 10px solid #ccc;
  border-radius: 10px;
  /* box-sizing: border-box; */
  /* box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); */
  font-size: 30px;
  float: right;
}

.circle2{
  stroke:white;
  stroke-width: 10;
  fill: #dacece;
  r:20;
  transition: 0.1s;
}

.centroid{
  stroke:white;
  stroke-width: 10;
  fill: #e07b7b;
  r:40;
  transition: 0.1s;
}
/* Richa:This is not working */
#myLabel{
  margin: 70px;
  border: 1px solid #4CAF50;
  text-emphasis-color: red;
}

.cell{
  stroke:white;
  stroke-width: 10;
  transition: 0.3s;
  border-radius: 20px;
}

.matrixlabels{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.icons{
  width: 20%;
  height: auto;
  float:left;
  transition: 0.1s;
}
